[core]
	editor = emacs
[user]
	name = Vitaly R. Samigullin
	email = vrs@pilosus.org
[color]
	ui = true
[alias]
	graph = log --graph --oneline --decorate
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	